$primary-color: #2397DF;
$secondary-color: #1174B2;
$danger-color: #ff7675;
$success-color: #55efc4;
$light-color: #f5f6fa;
$dark-color: #2d3436;
$text-color: #636e72;
$white: #fff;
$shadow: 0 4px 20px rgba(0, 0, 0, 0.1);